<div id="search-component">
  <label class="searchlabel">Event Search: </label>
  <br />
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let evnt of evnts | async"
         (click)="gotoDetail(evnt)" class="search-result" >
      {{evnt.name}}
    </div>
  </div>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->